<%= form_for @question do |f| %>
<% if @question.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@question.errors.count, "error") %> prohibited
    this post from being saved:</h2>
    <ul>
      <% @question.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
  <p>
    <%= f.label :Question %><br>
    <%= f.text_field :query %>
  </p>
  
  <p>
    <%= f.label :"Add some description"%><br>
    <%= f.text_area  :text, "width" => 80, "rows" => 20 %>
  </p>
  
  <p>
    <%= f.submit %>
  </p>
  <% end %>