<%= will_paginate %>
<% @questions.each do |question| %>
<div class="container", "relative">
  <div class="row-fluid">
    <h1><%= question.query %></h1>
    <p>
      <%= truncate question.text, length: 400 %>
    </p>
    <p><%= link_to 'read more', question%></p>
    <% end %>
    <%= will_paginate %>
  </div>
</div>