<%= will_paginate %>
<div class="container; offset1">
<% @questions.each do |question| %>

  <div class="row-fluid", border-bottom: 1px black>
    <h1><%= question.query %></h1>
    <p>
      <%= truncate question.text, length: 400 %>
    </p>
    <p><%= link_to 'read more', question%></p>
    
    <% end %>
    <%= will_paginate %>
  </div>
</div>