<div class="container", "relative">
	<div class="row-fluid">
		<h1><%= @question.query %></h1>

		
		<p>
			<%= @question.text %>
		</p>
		<h5>Add an answer:</h5>

		<h3>Answers</h3>
		<%= render "answers/form" %>
		<%= render @question.answers %>
		<% @question.answers.each do |ans| %>

		<div class="container">
			<div class="row-fluid">
			</p>

			<p>
				<%= ans.answer %>
			</p>

			<h5><em>
				<%= answer.commenter %> posted 
				<%= link_to "Answer comments", question_answer_path(question_id: @question.id, id: answer.id) %>

			</em></h5>

		</div>
	</div>
	<% end %>
	<p>
		


		
		<!--must check the comment item-->

	</div>
</div>