<div class="container; relative; offset1">
	<div class="row-fluid">
		<h1 style = "color: #FF8C00"><%= @question.query %></h1>

		
		<h4>
			<%= @question.text %>
		</h4>
		<h5>Add an answer:</h5>


		<%= render "answers/form" %>
		<h3 style = "color: #FF8C00">Answers</h3>	

		<% if @question.answers.empty? %>
		<p> No answers yet. Why don't you add one? </p>
		<% else %>

		<% @question.answers.each do |ans| %>

		<div class="container">
			<div style ="border-bottom: 1px solid #888888; box-shadow: 5px 3px 5px rgba(0, 0, 0, 0.5)">
			</p>

			<h5>
				<%= ans.answer %>
			</h5>



			<p>
				<em><%= ans.commenter %></em> posted 
			</p>
			<p><%= ans.likes.size %> | 
				<%=link_to "vote up", like_question_answer_path([@question],[ans]), method: :put%> | <%=link_to "vote down", dislike_question_answer_path([@question],[ans]), method: :put%> | <%= link_to "Comments", [@question, ans] %>

			</p>

		</div>
	</div>
	<% end %>
	<% end %>
	<p>



		
		<!--must check the comment item-->

	</div>
</div>