<div class="container", "relative">
	<div class="row-fluid">
		<h1><%= @question.query %></h1>

		
		<p>
			<%= @question.text %>
		</p>
		<h5>Add an answer:</h5>

		<h3>Answers</h3>
		<%= render "answers/form" %>

		<% if @question.answers.empty? %>
		<p> No answers yet. Why don't you add one? </p>
		<% else %>

		<% @question.answers.each do |ans| %>

		<div class="container">
			<div class="row-fluid">
			</p>

			<p>
				<%= ans.answer %>
			</p>

		

			<p>
				<em><%= ans.commenter %></em> posted 
			</p>
			<p><%= ans.likes.size %> | 
				<%=link_to "vote up", like_question_answer_path([@question],[ans]), method: :put%> | <%=link_to "vote down", dislike_question_answer_path([@question],[ans]), method: :put%>
				<%= link_to "Answer comments", [@question, ans] %>

			</p>

		</div>
	</div>
	<% end %>
	<% end %>
	<p>



		
		<!--must check the comment item-->

	</div>
</div>