<div class="container">
	<div style = "border-bottom: 1px solid #888888">
<p> 
<%= comment.comment %>
</p>
<p> <%= comment.writer %> posted </p>

<p><%= comment.likes.size %> | 
				<%=link_to "Upvote", like_question_answer_comment_path([@question],[@answer], [comment]), method: :put%> | 
				<%=link_to "Downvote", dislike_question_answer_comment_path([@question],[@answer], [comment]), method: :put%>

			</p>
</div>
	</div>
