
<div class="container">
	<div class="row-fluid">
	</p>

	<p>
		<%= answer.answer %>
	</p>

	<p>
		<em><%= answer.commenter %></em> posted  WHY NOTHING HAPPEN<%= question.likes.size %> | 
		<%=link_to "vote up", like_answer_path(question), method: :put%> | <%=link_to "vote down", dislike_answer_path(question), method: :put%>
		<%= link_to "Answer comments", answer.id %>

	</p>
	<p>		
		<%= link_to "Answer comments", answer.id %>
	</p>

</div>
</div>
<p>
	