<!DOCTYPE html>
<html>
<head>
	<title>Welcome to TigerAnswers</title>
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
	<link href='http://fonts.googleapis.com/css?family=Exo+2' rel='stylesheet' type='text/css'>
	<style>
	html {

		background: url(http://www.desktop-backgrounds.org/thumbs/2012/11/09/rocks-on-the-beach-hd-wallpaper.jpg) no-repeat center center fixed; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
	html *{
		font-family: 'Exo 2';
	}
	body{
		background: transparent;
	}
	h1 {

		color: white;
	}
	p {
		color: white;
	}
	</style>

</head>
	<div align="right">
		<p><%= link_to "Sign In", new_user_session_path %></p>
	</div>
<body>
	<div align="center">
	<%= yield %>
</div>
</body>

</html>

